/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */


@import "font-awesome-sprockets";
@import "font-awesome";

/*
**      ######################
**      #                    #
**      #     General CSS    #
**      #                    #
**      ######################
*/
.no-padding
{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.no-margin-bottom
{
	margin-bottom: 0;
}

.fa-globe,
.fa-comments-o,
.fa-comments{
	font-size : 20px;
}

#notification-counter
{
	position 	: absolute;
	top  		: 4px;
	left  		: 30px;
	background 	: red;
	padding 	: 0 2px;
	color 		: white;
	font-size   : 12px;
	font-weight : bolder;
}