// Place all the styles related to the notifications controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/


.panel-body-unread{
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.panel-default
{
  background-color: #F1F1F1;
}
